.load-animate {
  animation: load 0.5s;
}

@keyframes load {
  from {
    opacity: 0.6;
    transform: translateY(15px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
