@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  --sb-track-color: #50585b;
  --sb-thumb-color: #6baf8d;
  --sb-size: 5px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
